body{
    padding: 3%;
}

.header {
    display: block;
   
   
}
.scoreboard{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    
}

.score {
    margin: 0 20px;
    font-size: 24px;
}




h1{
    text-align: center;
    
}

.btn-container {
    display: flex;
    justify-content: center;
}

p{
    text-align: center;
}

li{
    padding: 5px;
    text-align: center;
    list-style: none;
}