body{
    padding: 3%;
}

h1{
    text-align: center;
    border: 1px solid red;
}

.btn-container {
    display: flex;
    justify-content: center;
    border: 1px solid red;
}

p{
    text-align: center;
}

li{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    list-style: none;
}